<h1>Gestionar Asociados</h1>

<app-asociado-buscar></app-asociado-buscar>

<div style="text-align: center;">

    <button mat-raised-button
            color="primary"
            (click)="agregarAsociado()"
            class="action_button">
        <mat-icon>add</mat-icon>
        Agregar
    </button>

    <button mat-raised-button
            color="primary"
            [disabled]="!asociadoEdit"
            (click)="editarAsociado()"
            class="action_button">
        <mat-icon>edit</mat-icon>
        Modificar
    </button>
    <button mat-raised-button
            color="accent"
            [disabled]="(!asociadoEdit || asociadoActivo)"
            (click)="vincularAsociado()"
            class="action_button">
        <mat-icon>check</mat-icon>
        Vincular
    </button>
    <button mat-raised-button
            color="accent"
            [disabled]="(!asociadoEdit || !asociadoActivo)"
            (click)="retirarAsociado()"
            class="action_button">
        <mat-icon>close</mat-icon>
        Retirar
    </button>
</div>