<h2>Listado de Créditos</h2>

<table mat-table
       [dataSource]="dataSource"
       matSort
       class="mat-elevation-z8">

    <ng-container matColumnDef="numero">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> No. Crédito </th>
        <td mat-cell
            *matCellDef="let element"> {{element.numero}} </td>
    </ng-container>

    <ng-container matColumnDef="valor">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Valor </th>
        <td mat-cell
            *matCellDef="let element">{{element.valor | number}}</td>
    </ng-container>

    <ng-container matColumnDef="saldo">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Saldo </th>
        <td mat-cell
            *matCellDef="let element">{{element.saldo | number}}</td>
    </ng-container>

    <ng-container matColumnDef="valorCuota">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Valor Cuota </th>
        <td mat-cell
            *matCellDef="let element">{{element.valorCuota | number}}</td>
    </ng-container>

    <ng-container matColumnDef="fechaProximoPago">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Fecha Próximo Pago </th>
        <td mat-cell
            *matCellDef="let element">{{element.fechaProximoPago}}</td>
    </ng-container>

    <ng-container matColumnDef="diasMora">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Días de Mora </th>
        <td mat-cell
            *matCellDef="let element">{{element.diasMora | number}}</td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (mouseover)="row.hovered = true"
        (mouseout)="row.hovered = false">
    </tr>
</table>