<div class="example-container">
    <mat-toolbar color="primary"
                 class="example-toolbar">
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        <span class="example-spacer"></span>

        <img src="assets/logo.png"
             width="40">

        <h1 class="example-app-name"
            style="margin-left: 10px">CREDUSAN</h1>

        <span class="example-spacer"></span>

        <!--<button mat-icon-button [matMenuTriggerFor]="menu">-->
        <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item
                    routerLink="/perfil">
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <button mat-menu-item
                    (click)="sidenav.opened = false">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav
                     style="width: 200px"
                     mode="push">

            <button mat-menu-item
                    (click)="sidenav.toggle()"
                    routerLink="/asociado"
                    style="cursor: pointer">
                <mat-icon>person</mat-icon>
                <span>Asociados</span>
            </button>

            <button mat-menu-item
                    (click)="sidenav.toggle()"
                    routerLink="/captacion"
                    style="cursor: pointer">
                <mat-icon>savings</mat-icon>
                <span>Captaciones</span>
            </button>

            <button mat-menu-item
                    (click)="sidenav.toggle()"
                    routerLink="/creditos"
                    style="cursor: pointer">
                <mat-icon>money</mat-icon>
                <span>Créditos</span>
            </button>

            <button mat-menu-item
                    (click)="sidenav.toggle()"
                    routerLink="/cajas"
                    style="cursor: pointer">
                <mat-icon>attach_money</mat-icon>
                <span>Cajas</span>
            </button>

            <mat-divider></mat-divider>

        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>


    </mat-sidenav-container>

</div>
<app-show-messages></app-show-messages>