<table mat-table
       [dataSource]="dataSource"
       matSort
       class="mat-elevation-z8">

    <ng-container matColumnDef="tipoCaptacion">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Tipo de Captación </th>
        <td mat-cell
            *matCellDef="let element"> {{element.tipoCaptacion.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="numeroCuenta">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Número de Cuenta </th>
        <td mat-cell
            *matCellDef="let element"> {{element.numeroCuentaCompleto}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Estado </th>
        <td mat-cell
            *matCellDef="let element"> {{element.tipoEstadoCaptacion.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaApertura">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Fecha de Apertura </th>
        <td mat-cell
            *matCellDef="let element"> {{element.fechaApertura}} </td>
    </ng-container>

    <ng-container matColumnDef="saldo">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Saldo </th>
        <td mat-cell
            *matCellDef="let element"> {{element.saldo}} </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="seleccionarCaptacion(row)"
        [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
        (mouseover)="row.hovered = true"
        (mouseout)="row.hovered = false">
    </tr>

</table>